# Codeowners for LF Decentralized Trust · Open Source Frontiers Lab

* @ThatGuyLLC

/dospo/ @ThatGuyLLC
/omf/ @ThatGuyLLC
/orf/ @ThatGuyLLC
/evaluator/ @ThatGuyLLC
/contracts/ @ThatGuyLLC
/docs/ @ThatGuyLLC
